/*
Website: Swift Health & Hygiene - Private Limited.
Author: Mohsin Yaqoob
Author URI: https://mohsinyaqoob.com
Description: Health and Hygiene Informational Website
Version: 1.1
*/

/* // BASIC
@import 'basic';

// variables
@import 'variables';

//FONT
@import './fonts';

// TYPOGRAPHY

@import 'typography';

// MIX
@import 'mix';

// HELPER
@import 'helper';

// ICON FONTS
@import 'icon';

// ANIMATION
@import 'animation';

// Button 
@import 'btn';

// Colors 
@import 'colors';

// Preloader 
@import 'preloader'; */

/* ----------------------------------
    Template Section Styles
 ------------------------------------*/

/* // Menu - Header Section 
@import 'header';

// Hero Slide - Section 
@import 'hero';

// Section Title - Heading 
@import 'section';

// About - Section 
@import 'about';

// Features - Section 
@import 'features';

// Features - Section 
@import 'services';

// Features - Section 
@import 'testimonial';

// Portfolio - Cases - Section 
@import 'project';

// Price Table - Section 
@import 'price';

// Call To Action - Section 
@import 'cta';

// Content Block - Section 
@import 'contentblock';

// team - Section 
@import 'team';

// funfact - Section 
@import 'funfact';

// Carousel - Section 
@import 'carousel';

// FAQ - Section 
@import 'faq';

// Blog - Section 
@import 'blog';

// Contact Us - Section 
@import 'contact';

// swift-jk-landing-page - Page 
@import 'swift-jk-landing-page';

// footer - Section 
@import 'footer'; */

ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 10px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: -9px;
  width: 20px;
  height: 20px;
  z-index: 400;
  top: 4px;
}

ul.timeline {
  padding-left: 10px;
}

@media screen and (min-width: 768px) {
  .swift-jk-landing-page {
    height: 600px !important;
    overflow: hidden;
  }

  .hero-slide-wrapper.swift-jk-landing-page .single-slide {
    padding: 96px;
  }
}
